body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    /* font: 15px/1.5 "Roboto", sans-serif; */
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    overflow-y: auto;
}


/* ========
    Global
   ========
*/

* {
	box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    overflow: auto;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ========
    Header
   ========
*/
/* Page Header */
header {
    background: #35424a;
    color: #ffffff;
    min-height: 72px;
    border-bottom: #e8491d 3px solid;
    position: relative;
    z-index: 5;
    margin-top: -66px;
}

/* Page Title */
header #branding {
    font-family: laChata;
    float: left;
}

/* Page Title text */
header #branding h1 {
    margin: 0;
    display: inline;
    font-size: 42px;
    padding-left: 10px;
}

/* Page Title logo */
header #branding img {
    height: 58px;
    margin: 0;
    float: left;
    padding-top: 11px;

    pointer-events: none;
}

/* Page Title highlight */
header .highlight {
    color: #e8491d;
    font-weight: bold;
}


/* ============
    Navigation
   ============
*/

header nav {
    float: left;
    margin-top: 10px;
    padding-top: 5px;

    padding-left: 50px;
}

header li {
    float: left;
    display: inline;
    padding: 0 30px 0 20px;
}

header a.nav {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Lato', sans-serif;

    border-bottom: 4px solid transparent;
    transition: all 0.3s ease;
}

header a:hover {
    color: #cccccc;
}

header a.color-1.active, a.color-1:hover { border-color: #33ccff; }
header a.color-2.active, a.color-2:hover { border-color: #ff6666; }
header a.color-3.active, a.color-3:hover { border-color: #33cc66; }
header a.color-4.active, a.color-4:hover { border-color: #cc66cc; }

header a.color-red.active, a.color-red:hover {
    border-color: #e8491d;
}
header a.color-gray.active, a.color-gray:hover {
    border-color: #cccccc;
}



/* ============
    Search Box
   ============
*/

.search-box {
    /* width: 1200px; */
    width: 0%;
    margin: 0 auto;
    text-align: right;
    position: relative;
    top: 0;
    z-index: 4;
    /* z-index: 6; */

    transition: 300ms;
}

.search-box.active {
    top: 73px;
}

.search-box input {
    background: #fffffa;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 8px 8px;

    font-size: 24px;
    line-height: 42px;
    border: 0;
    padding: 12px 48px;
}

.search-box input::placeholder {
    color: #b3b3b3;
}


/* ========================
    Search & Close Buttons
   ========================
*/

.nav-btn-container {
    display: flex;
    position: relative;
}

.nav-btn-container img {
    position: absolute;
    padding-top: 5px;
}

.nav-btn-container .close-btn {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);
    transition: 300ms;

    filter: brightness(0) invert(1);
}

.nav-btn-container .search-btn {
    pointer-events: auto;
    transition: 300ms;

    filter: brightness(0) invert(1);
}

.nav-btn-container.active .search-btn {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);
}

.nav-btn-container.active .close-btn {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}


/* ==========
    Showcase
   ==========
*/

#showcase {
    min-height: 400px;
    /* background: url('../img/showcase.jpg') no-repeat 0 -400px; */
    background: url('../img/backgrounds/bg-10.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    text-align: center;
    color: #ffffff;

    position: relative;
    z-index: 1;
}

#showcase h1 {
    font-family: 'Lato', sans-serif;
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}


/* ============
    Newsletter
   ============
*/

#newsletter {
    padding: 15px;
    color: #ffffff;
    background: #35424a
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}


/* =======
    Boxes
   =======
*/

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 90px;
}


/* =========
    Sidebar
   =========
*/

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}


/* ==========
    Main-col
   ==========
*/

article#main-col {
    float: left;
    width: 65%;
}


/* ==========
    Services
   ==========
*/

ul#services li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

footer {
    /* padding: 20px; */
    /* margin-top: 20px; */
    padding: 5px;
    margin-top: 45px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}


/* ===============
    Media Queries
   ===============
*/

@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }

    #newsletter button, .quote button {
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea {
        width: 100%;
        margin-bottom: 5px;
    }
}
